[general]
# We support only mainnet
# TBD: Support testnet
network = "mainnet"
eth_api = "https://eth-api:443"
# Program execution period (minutes)
period = 60
listen_port = 8080

[injective]
enable = true
grpc = "injective-grpc:9090"
validator_acc = "inj1..."
# Trigger an alarm, if nonce and observed nonce difference is greater than nonce_diff
# eg. nonce_diff = 0 then nonce and observed nonce have to equal
nonce_diff = 1

[umee-oracle]
enable = true
grpc = "umee-grpc:9090"
validator_acc = "umee1..."
# Trigger an alarm, if uptime is less than min_uptime
min_uptime = 0.10

[tg]
enable = true
token = "123:AA-BB..."
chat_id = "123..."
